body {
    background-color: #b96d4a;
}

.lists,

h1,
.msg {
    color:#2E0404;
    font-size: 24px;
    font-weight: 500;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    font-family: monospace, 'Times New Roman', Times, serif
}

.LstH,
h1 {
    color: #efd8a1;
    margin-top: 2%;
    text-align: center;
    font-size: 40px;
}

h3,
h2 {
    color: #efd8a1;
    font-size: 30px;
    font-weight: 800;
    margin-left: 5%;
    margin-right: 7%;
    margin-top: 2%;
    font-family: monospace, 'Times New Roman', Times, serif
}

h3 {
    font-size: 25px;
    margin-left: 0%;
}

.lists {
    font-size: 22px;
}


.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.gifs,
.recipe {
    width: 350px;
    padding: 45px;
    -webkit-filter: drop-shadow(15px 15px 15px #222);
    filter: drop-shadow(15px 15px 15px #222);
    margin-top: 2%;
}

.lists .recipe {
    margin-top: 0%;
    margin-bottom: 0%;
}


.gifs {
    text-align:center;
    width:40%;
    display:block;
    margin:auto;
}

.LstH {
    font-weight: 800;
}

.butn {
    display: inline-block;
    background-color: black;
    color: #efd8a1;
    padding: 18px;
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: 2%;
    text-decoration: none;
    font-weight: 300;
    font-family: monospace, 'Times New Roman', Times, serif
}
.butn.upper {
    margin-bottom: 0%;
    margin-top: 2%;
}
